@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  padding: 0;
  margin: 0; }

::selection {
  background-color: #f59f00;
  color: white; }

html {
  font-size: 62.5%; }

.section {
  padding: 0 2rem;
  visibility: hidden;
  opacity: 0;
  transition: .9s;
  transform: translateY(5rem); }

.section-visible {
  transform: translateY(0);
  visibility: visible;
  opacity: 1; }

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: #FFF;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2.5rem; }
  .home-btn a:link, .home-btn a:visited {
    margin-top: .5rem;
    text-decoration: none; }
    .home-btn a:link i, .home-btn a:visited i {
      color: #17243D; }

* {
  font-family: 'Rubik', sans-serif; }

.heading-primary {
  font-size: 3.5rem;
  text-align: center;
  color: #17243D;
  margin: 3rem 0; }

.heading-secondary {
  font-size: 2.5rem;
  text-align: center;
  color: #e67700; }

.mt-med {
  margin-top: 4rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  transition: .3s;
  align-items: center;
  transition: .9s;
  padding: 1rem 2rem;
  background-color: #fff;
  z-index: 23456765; }
  @media only screen and (max-width: 848px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: 3.9rem;
      overflow: hidden; } }
  .navbar-sticky {
    position: fixed;
    top: 0;
    width: 97.5%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); }
    @media only screen and (max-width: 848px) {
      .navbar-sticky {
        width: 95%; } }
    @media only screen and (max-width: 555px) {
      .navbar-sticky {
        width: 90%; } }
  @media only screen and (max-width: 848px) {
    .navbar-start {
      margin-bottom: 2rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; } }
  .navbar-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .6rem; }
    .navbar-logo-img {
      font-size: 3rem;
      color: #fab005; }
    .navbar-logo-name {
      font-size: 3rem;
      font-weight: 300;
      color: #fab005;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .navbar-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem; }
    @media only screen and (max-width: 848px) {
      .navbar-list {
        flex-direction: column;
        margin-bottom: 2rem; } }
  .navbar-link:link, .navbar-list:visited, .navbar-link {
    color: #e67700;
    text-decoration: none;
    transition: .3s; }
    .navbar-link:link:hover, .navbar-list:visited:hover, .navbar-link:hover {
      color: #fab005; }
  .navbar-btn:link, .navbar-btn:visited, .navbar-btn {
    background: #fab005;
    padding: 1rem 1rem;
    border-radius: 5px;
    color: white; }
    .navbar-btn:link:hover, .navbar-btn:visited:hover, .navbar-btn:hover {
      color: white;
      background: #e67700; }
    @media only screen and (max-width: 848px) {
      .navbar-btn:link, .navbar-btn:visited, .navbar-btn {
        padding: 0;
        color: #e67700;
        text-decoration: none;
        background-color: white; }
        .navbar-btn:link:hover, .navbar-btn:visited:hover, .navbar-btn:hover {
          background-color: white;
          color: #fab005; } }
  .navbar-toggle {
    position: absolute;
    transition: all .3s;
    visibility: 0;
    opacity: 0;
    top: 0;
    pointer-events: none;
    cursor: pointer;
    height: .3rem;
    width: 3rem;
    background: #e67700;
    position: relative; }
    .navbar-toggle-wrapper {
      position: relative;
      cursor: pointer; }
      @media only screen and (max-width: 848px) {
        .navbar-toggle-wrapper {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
          height: 4rem; } }
    @media only screen and (max-width: 848px) {
      .navbar-toggle {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        top: 2rem; } }
    .navbar-toggle::after {
      content: '';
      position: absolute;
      height: .3rem;
      width: 2rem;
      background: #e67700;
      top: -0.8rem; }
    .navbar-toggle::before {
      content: '';
      position: absolute;
      height: .3rem;
      width: 2.6rem;
      background: #e67700;
      top: +0.8rem; }
  .navbar-visible {
    height: 34.8rem;
    background-color: #fff; }
  .navbar-toggle-active {
    transition: .4s;
    background-color: #fff; }
    .navbar-toggle-active::before {
      content: '';
      position: absolute;
      height: .3rem;
      width: 3rem;
      transform: rotateZ(-45deg);
      background: #e67700;
      top: 0rem; }
    .navbar-toggle-active::after {
      content: '';
      position: absolute;
      height: .3rem;
      width: 3rem;
      transform: rotateZ(45deg);
      background: #e67700;
      top: 0rem; }

.card {
  display: flex;
  gap: 1rem;
  width: 45%;
  border: 1px solid #f59f00;
  border-radius: 5px;
  padding: 2rem; }
  @media only screen and (max-width: 706px) {
    .card {
      flex-direction: column; } }
  @media only screen and (max-width: 1078px) {
    .card {
      width: 70%; } }
  .card-heading {
    color: #f59f00;
    font-size: 3rem;
    letter-spacing: .2rem;
    font-size: 700; }
  .card-icon {
    font-size: 4rem;
    color: #17243D; }
  .card-text {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 2rem;
    color: #17243D; }
  .card-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem; }

.carousel {
  width: 100%; }
  .carousel-container {
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 80rem; }
    @media only screen and (max-width: 860px) {
      .carousel-container {
        width: 50rem; } }
    @media only screen and (max-width: 530px) {
      .carousel-container {
        width: 35rem; } }
    @media only screen and (max-width: 392px) {
      .carousel-container {
        width: 30rem; } }
  .carousel-inner {
    display: flex;
    transition: .3s; }
    @media only screen and (max-width: 860px) {
      .carousel-inner {
        width: 50rem; } }
    @media only screen and (max-width: 530px) {
      .carousel-inner {
        width: 35rem; } }
    @media only screen and (max-width: 392px) {
      .carousel-inner {
        width: 30rem; } }
  .carousel-slide {
    width: 80rem; }
    @media only screen and (max-width: 860px) {
      .carousel-slide {
        width: 50rem; } }
    @media only screen and (max-width: 530px) {
      .carousel-slide {
        width: 35rem; } }
    @media only screen and (max-width: 392px) {
      .carousel-slide {
        width: 30rem; } }
  .carousel-btns {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem; }
    .carousel-btns button {
      cursor: pointer;
      background-color: #fff;
      outline: none;
      border: none;
      font-size: 2rem;
      font-family: 'Rubik', sans-serif;
      color: #e67700; }

.review {
  width: 100%;
  position: relative;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem; }
  @media only screen and (max-width: 860px) {
    .review {
      width: 50rem; } }
  @media only screen and (max-width: 530px) {
    .review {
      width: 35rem; } }
  @media only screen and (max-width: 392px) {
    .review {
      width: 30rem; } }
  .review-person {
    display: flex;
    align-items: center;
    gap: 3rem; }
  .review-img {
    align-self: center;
    height: 8rem;
    border-radius: 50%; }
  .review-name {
    font-size: 2.4rem;
    color: #e67700; }
  .review-stars {
    color: #17243D;
    font-size: 1.4rem; }
  .review-text {
    margin-top: 1rem;
    font-size: 1.7rem;
    text-align: center;
    color: #17243D;
    line-height: 2.5rem;
    font-size: 300; }

.gallery {
  padding: 0;
  margin: 0;
  margin-top: 2rem; }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    @media only screen and (max-width: 1116px) {
      .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); } }
    @media only screen and (max-width: 870px) {
      .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr); } }
    @media only screen and (max-width: 482px) {
      .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr); } }
  .gallery-img-container {
    width: auto;
    height: 20rem;
    transition: .5s; }
    @media only screen and (max-width: 482px) {
      .gallery-img-container {
        height: 30rem; } }
  .gallery-img {
    transition: 3s;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.img-blur {
  filter: blur(4px); }

.hero {
  display: flex;
  height: 92.2vh;
  align-items: center;
  justify-content: center;
  gap: 3rem; }
  @media only screen and (max-width: 1167px) {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      margin: 2rem 0;
      align-items: center; } }
  @media only screen and (max-width: 399px) {
    .hero {
      margin-top: 4rem; } }
  .hero-img {
    width: 60rem;
    height: auto; }
    @media only screen and (max-width: 1167px) {
      .hero-img {
        width: 50rem; } }
    @media only screen and (max-width: 560px) {
      .hero-img {
        width: 35rem; } }
  .hero-text {
    font-size: 5rem;
    color: #f59f00; }
    @media only screen and (max-width: 1167px) {
      .hero-text {
        font-size: 3rem; } }
    .hero-text-container {
      width: 75%; }
      @media only screen and (max-width: 800px) {
        .hero-text-container {
          display: flex;
          align-items: center;
          flex-direction: column; } }
      .hero-text-container p, .hero-text-container a {
        margin: 2rem 0; }
  .hero-special {
    color: #e67700; }
  .hero-para {
    font-size: 2rem;
    color: #17243D; }
    @media only screen and (max-width: 800px) {
      .hero-para {
        width: 50rem; } }
    @media only screen and (max-width: 517px) {
      .hero-para {
        width: 35rem; } }
  .hero-btn:link, .hero-btn:visited {
    color: #f59f00;
    font-size: 2rem;
    display: inline-block;
    transition: .2s; }
    .hero-btn:link:hover, .hero-btn:visited:hover {
      background-color: #f59f00;
      color: white;
      text-decoration: none;
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8rem; }
  @media only screen and (max-width: 1250px) {
    .about-us-content {
      flex-direction: column; } }

.about-us-image {
  margin: 0 3rem;
  width: 40rem;
  height: auto; }
  @media only screen and (max-width: 900px) {
    .about-us-image {
      width: 30rem; } }
  @media only screen and (max-width: 476px) {
    .about-us-image {
      width: 20rem; } }

.about-us-para {
  font-size: 2rem;
  margin: 2rem 0;
  color: #17243D;
  line-height: 3rem; }
  @media only screen and (max-width: 1250px) {
    .about-us-para {
      text-align: center; } }

.about-us-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu-list {
  display: flex;
  list-style: none;
  font-size: 2.3rem;
  justify-content: center;
  color: #fab005; }

.menu-item {
  padding: 2rem;
  transition: .1s;
  cursor: pointer; }
  @media only screen and (max-width: 392px) {
    .menu-item {
      padding: 1rem; } }
  .menu-item:hover {
    background-color: #ffe066;
    color: #fff; }
  .menu-item-active {
    background-color: #fab005;
    color: #fff; }

.menu-food-active[data-tab-content] {
  display: block; }

.menu-table {
  text-align: center; }

.menu-content {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; }

.menu-heading {
  font-size: 2rem;
  padding: 1rem 2rem; }

.menu-card {
  width: 40rem;
  border: 1px solid #fab005;
  border-radius: 6px;
  padding: 2rem; }
  @media only screen and (max-width: 454px) {
    .menu-card {
      width: 25rem; } }
  .menu-card-info {
    display: flex;
    justify-content: space-between;
    font-size: 2.3rem;
    margin-bottom: 1.2rem; }
  .menu-card-name {
    color: #e67700; }
  .menu-card-price {
    color: #17243D; }
  .menu-card-text {
    color: #17243D;
    font-size: 1.4rem;
    line-height: 2rem; }

[data-tab-content] {
  display: none; }
