.navbar{
  display: flex;
  justify-content: space-between;
  transition: .3s;
  align-items: center;
  padding: 1rem 2rem;
  @include respond(680px){
    flex-direction: column;
    align-items: flex-start;
    height: 2.4rem;
    overflow: hidden;
  }
  &-start{
    @include respond(680px){
      margin-bottom: 2rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .6rem;

    &-img{
      font-size: 3rem;
      color: $yellow-dark;
    }
    &-name{
      font-size: 3rem;
      font-weight: 300;
      color: $yellow-dark;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    @include respond(680px){
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }

  &-link:link, &-list:visited, &-link{
    color: $yellow-dark-3;
    text-decoration: none;
    transition: .3s;

    &:hover{
      color: $yellow-dark;
  
      }
  }

  &-btn:link, &-btn:visited, &-btn{
    background: $yellow-dark;
    padding: 1rem 1rem;
    border-radius: 5px;
    color: white;

    &:hover{
    color: white;
    background: $yellow-dark-3;

    }
    @include respond(680px){
      padding: 0;
      color: $yellow-dark-3;
      text-decoration: none;
      background-color: white;

      
    &:hover{
      background-color: white;
      color: $yellow-dark;
  
      }
    }
  }

  &-toggle{
    &-wrapper{
      @include respond(680px){
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      height: 4rem;

      }
      position: relative;
       cursor: pointer;

    }
    position: absolute;
    
    transition:all .3s;
    visibility: 0;
    opacity: 0;
    top: 0;
    pointer-events: none;
    @include respond(680px){
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      top: 2rem;
    }
    cursor: pointer;
    height: .3rem;
    width: 3rem;
    background: $yellow-dark-3;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      height: .3rem;
      width: 2rem;
      background: $yellow-dark-3;
      top: -0.8rem;
    }

    &::before{
      content: '';
      position: absolute;
      height: .3rem;
      width: 2.6rem;
      background: $yellow-dark-3;
      top: +0.8rem;
    }
  }

  &-visible{
    height: 23.2rem;
    background-color: #fff;
  }

  &-toggle-active{
    transition: .4s;
    background-color: #fff;
    &::before{
      content: '';
      position: absolute;
      height: .3rem;
      width: 3rem;
      transform: rotateZ(-45deg);
      background: $yellow-dark-3;
      top: 0rem;
    }
    &::after{
      content: '';
      position: absolute;
      height: .3rem;
      width: 3rem;
      transform: rotateZ(45deg);
      background: $yellow-dark-3;
      top: 0rem;
    }
  }
}
