$yellow-light : #ffec99;
$yellow-light-2 :#ffe066;
$yellow-medium : #ffd43b;
$yellow-medium-2 :#fcc419;
$yellow-dark :#fab005;
$yellow-dark-2 : #f59f00;
$yellow-dark-3 : #e67700;


$blue-dark : #17243D;

